<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <form action="/add" method="POST">
            <label for=""><input type="text" name="title" value=""></label>
            <input type="submit" value="添加">
        </form>
    </div>
    <ul>
        <% list.forEach(function(article,index){ %>
            <li><%= article.title %> <a href="/del?index=<%=index%>">删除</a></li>
        <% }) %>
    </ul>
</body>

</html>